$menu-width: 180px;
$submenu-width: 150px;

#layout-header,
#layout-menu,
#layout-submenu,
#layout-content,
#layout-footer {
  //+debug-border
  //debug-background(red, 0.2)
  //background: pink
}

#layout-header {
  text-align: right;
  margin: {
    right: $submenu-width + 30px;
  };
}

#layout-menu {
  margin-right: $submenu-width + 30px;
  text-align: right;
  /* width: $menu-width */ }

#layout-submenu {
  position: fixed;
  right: 0px;
  width: $submenu_width; }

#layout-content-fixed-bg {
  z-index: -1;
  position: fixed;
  display: block;
  left: 0px + 8px;
  right: $submenu_width + 10px + 8px;
  top: 0px;
  bottom: 0px;
}

#layout-content {
  margin: {
    left: 0px;
    right: $submenu_width; };
  overflow: hidden; }

#layout-footer {
  clear: both; }
