$sidebar-width: 180px;

#layout-header,
#layout-menu,
#layout-sidebar,
#layout-content,
#layout-footer {

}

#layout-header {
  text-align: right;
  margin: {
    right: $sidebar-width + 30px;
  };
}

#layout-nav {
  margin-right: $sidebar-width + 30px;
  text-align: right;
}

#layout-sidebar {
  position: fixed;
  right: 0px;
  width: $sidebar_width;
}

#layout-content-fixed-bg {
  z-index: -1;
  position: fixed;
  display: block;
  left: 0px + 8px;
  right: $sidebar_width + 10px + 8px;
  top: 0px;
  bottom: 0px;
}

#layout-content {
  margin: {
    left: 0px;
    right: $sidebar_width;
  };
  overflow: hidden;
}

#layout-footer {
  clear: both;
}
