{% extends "base.html" %}

{% block head_extra %}
<script src="{{ STATIC_URL }}js/about.js"></script>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
<div class="fancy-box">

  <noscript>
    <div id="about-info">
      <div class="about-info-border">
        <h2>about</h2>

        <div class="about-info-content">

          <div class="about-info-record">
            <span class="about-info-type">
              name
            </span>
            <span class="about-info-value">
              Marcin Biernat
            </span>
          </div>

          <div class="about-info-record">
            <span class="about-info-type">
              email
            </span>
            <span id="about-email" class="about-info-value">
              contact at <div style="display: none;">antispam</div> marcin biernat <div style="display: none;">antispam</div> dot pl
            </span>
          </div>

        </div>

      </div>
    </div>
  </noscript>

  <a id="about-email-button" class="fancy-button" style="display: none;" href="#">
    <img src="{{ STATIC_URL }}img/mail_64px.png" style="padding: 20px;" alt=""/>
    <br/>
    <span class="fancy-button-caption">
      contact
    </span>
  </a>

  <a id="popup" class="fancy-button" href="https://github.com/biern">
    <img src="{{ STATIC_URL }}img/octocat_128px.png" alt=""/>
    <br/>
    <span class="fancy-button-caption">
      github account
    </span>
  </a>
</div>

<div class="fancy-box">
  <a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"></a>
</div>
{% endblock %}
