.post {
    margin-bottom: 40px;
    &> .header {
        display: inline-block;
        @if $style == "rounded" {
            @include border-radius(10px);
        }
        border: {
            left: 10px solid $color3;
            top: 3px solid $bg_color2;
            bottom: 3px solid $bg_color2;
        }
        padding-left: 5px;
        .title {
            font-size: 22pt;
            color: $color1;
            margin-bottom: 5px;
            margin-top: 2px;
            a {
                text-decoration: none;
            }
        }
        .info {
            font-size: 11pt; // 80%
        }
    }
    .content {
        /* font-family: $font-family-reading; */
    }
    p {
        text-indent: 20px;
        line-height: 130%;
        &:first-letter {
            /* font-size: 110%; */
        }
    }
}

.post-summary {
  img {
    vertical-align: middle; }
  .length-Artykuł {
    font-weight: bold; }
}

.post-year {
  font-size: small;
  list-style-type: square;
}

.post-month {
  margin-left: 5px;
  list-style-type: circle;
}

.read-more {
    font-size: 90%;
    margin-left: 5px;
}
