// _layout.sass

=debug-border( $color: black, $width: 1px, $style: dotted )
  border= $width $color $style

=debug-background( $color: grey, $opacity: 1 )
  background= $color
  opacity= $opacity



#layout-header,
#layout-menu,
#layout-submenu,
#layout-content,
#layout-footer
  //+debug-border
  //debug-background(red, 0.2)
  //background: pink


#layout-header
  text-align: right
  margin:
    right: 180px

#layout-menu
  margin-right: 180px
  text-align: right
  /* width: 180px

#layout-submenu
  position: fixed
  right: 0px
  width: 150px

#layout-content-fixed-bg
  z-index: -1
  position: fixed
  display: block
  left: 0px + 8px // + 8px
  right: 150px + 10px + 8px // + 8px
  top: 0px
  bottom: 0px
  background: #1D1F24

#layout-content
  margin:
    left: 0px
    right: 150px
  overflow: hidden


#layout-footer
  clear: both

