// _layout.sass

=debug-border( $color: black, $width: 1px, $style: dotted )
  border= $width $color $style

=debug-background( $color: grey, $opacity: 1 )
  background= $color
  opacity= $opacity



#layout-header,
#layout-menu,
#layout-submenu,
#layout-content,
#layout-footer
  //+debug-border
  //debug-background(red, 0.2)
  //background: pink


#layout-header
  text-align: right
  margin:
    right: 50px

#layout-menu
  position: fixed
  right: 0px
  width: 180px

#layout-submenu
  position: fixed
  right: 180px
  width: 150px

// Nieużywany
// #layout-content-wrapper
//   float: left
//   margin:
//     left: 0px
//     right: 350px

#layout-content
  z-index: 1
  position: relative
  margin:
    left: 0px
    right: 180px + 150px
  overflow: hidden


#layout-footer
  clear: both

